 body{
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
        font-family: Times New Roman;
        text-align: left;
        background: linear-gradient(to right, lightpink, white, skyblue);
      }

nav{
        margin-top: 20px;
        text-align: right;
        text-decoration: none;
        color: purple;
      }

img{
        max-width: 300px;
        height: auto;
        border-radius: 90px;
        border: solid white 1px;
        filter: grayscale(70%);
        float: right;
        padding: 40px;
      }

.button{
      font-size: 25px;
      border: 2px solid darkblue;
      background-color: lightblue;
      padding: 5px;
    }

.button:hover{
      transform: scale(1.1);
      background-color: yellow;
    }

    .own{
      text-align: left;
    }
