 body{
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
        font-family: Times New Roman;
        text-align: left;
        background: linear-gradient(to right, lightpink, white, skyblue);
        color: purple;
      }

nav{
        margin-top: 20px;
        text-align: right;
        text-decoration: none;
        color: purple;
        font-size: 20px;
      }

img{
        max-width: 300px;
        height: auto;
        border-radius: 90px;
        border: solid white 1px;
        filter: grayscale(70%);
        float: right;
        padding: 20px;
        margin: 10px;
      }

.button{
      font-size: 25px;
      border: 5px solid darkmagenta;
      background-color: linear-gradient(to left, lightpink, white, skyblue);
      padding: 5px;
      margin: 20px;
    }

.button:hover{
      transform: scale(1.1);
      background-color: lightpink;
    }

div{
 margin: 20px 200px;
}
table, th, thead, tfoot{
 border: 2px solid purple;
}

